html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.save-btn {
    text-decoration:none;
    color:black;
    
    padding: 0px 100px;
    
    border: none;
    cursor: pointer;
    
    font-size: 1.5rem;
    display: block;
    
    transition: background 0.2s;
}

    .save-btn:hover {
        background-color: lightsteelblue;
    }

.head-class {
    display: flex;
    padding: 10px;
}

    .head-class a {
        padding: 20px 30px;
        text-decoration: none;
        border: 1px solid black;
        font-weight: 600;
        font-size: 20px;
        color: white;
        margin: 5px;
        border-radius: 20px;
        background-color: #1a1a1a; /* mörk bakgrund för kontrast */
        /* Lägg till skugga */
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
        /* Smidig transition för hover */
        transition: all 0.3s ease;
    }

        .head-class a:hover {
            border: 2px solid black;
            background-color: white;
            color: black;
            /* Mer skugga och lite “lyft” vid hover */
            box-shadow: 0 8px 12px rgba(0,0,0,0.4);
            transform: translateY(-3px);
        }

.navbar{
    background-color:red;
}



footer {
    
    color: white;
    margin-top: 10px;
}


main{
    padding-bottom:0;
}