@page "{id:int}"
@model JobTracker.Pages.DetailsModel
@{
    ViewData["Title"] = "Job Details";


    <partial name="_ValidationScriptsPartial" />
    <vc:validation-summary />
}
<partial name="_ValidationScriptsPartial" />
<vc:validation-summary />


<link rel="stylesheet" href="~/css/Details.css" />

<section class="job-details-section">
    @if (Model.SelectedJob != null)
    {
        <form method="post">
            <div class="job-card-details">
                <label>Title:</label>
                <input asp-for="SelectedJob.Title" />
                <span asp-validation-for="SelectedJob.Title" class="text-danger"></span>
                <input type="hidden" asp-for="SelectedJob.Id" />
                <label>Company:</label>
                <input asp-for="SelectedJob.Company" />
                <span asp-validation-for="SelectedJob.Company" class="text-danger"></span>

                <label>Applied:</label>
                <input asp-for="SelectedJob.CreatedAt" />
                <span asp-validation-for="SelectedJob.CreatedAt" class="text-danger"></span>

                <label>Updated:</label>
                <input asp-for="SelectedJob.UpdatedAt" />
                <span asp-validation-for="SelectedJob.UpdatedAt" class="text-danger"></span>

                <label>Description:</label>
                <textarea asp-for="SelectedJob.Description"></textarea>
                <span asp-validation-for="SelectedJob.Description" class="text-danger"></span>

                <label>Notes:</label>
                <textarea asp-for="SelectedJob.Notes"></textarea>
                <span asp-validation-for="SelectedJob.Notes" class="text-danger"></span>

                <label>Contact:</label>
                <input asp-for="SelectedJob.Contact" />
                <span asp-validation-for="SelectedJob.Contact" class="text-danger"></span>


                <label>Status:</label>
                <select asp-for="SelectedJob.Status">
                    <option value="Applied">Applied</option>
                    <option value="Interview">Interview</option>
                    <option value="Offer">Offer</option>
                    <option value="Rejected">Rejected</option>
                </select>


                <div class="btn-div">
                    <button type="submit" name="action" value="save" class="save-btn">Save</button>
                    <button type="submit" name="action" value="remove" class="save-btn remove-btn">Remove</button>
                </div>
                
            </div>
        </form>
    }
    else
    {
        <p>Job not found.</p>
    }
</section>
