@page
@model IndexModel

@{

}

<link rel="stylesheet" href="~/css/Form.css"/>

@* <section class="form-section">
    <div class="form-div">
        <h2>Lägg till ansökan</h2>
        <form method="post">
            <div class="form-group">
                <label for="Job_Title">Titel:</label>
                <input asp-for="Job.Title" />
                <span asp-validation-for="Job.Title"></span>
            </div>

            <div class="form-group">
                <label for="Job_Company">Company:</label>
                <input asp-for="Job.Company" />
                <span asp-validation-for="Job.Company"></span>
            </div>

            <div class="form-group">
                <label for="Job_Description">Description:</label>
                <input asp-for="Job.Description" />
                <span asp-validation-for="Job.Description"></span>
            </div>

            <div class="form-group">
                <label for="Job_Notes">Notes:</label>
                <input asp-for="Job.Notes" />
                <span asp-validation-for="Job.Notes"></span>
            </div>

            <div class="form-group">
                <label for="Job_Contact">Contact:</label>
                <input asp-for="Job.Contact" />
                <span asp-validation-for="Job.Contact"></span>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</section> *@
<section class="job-details-section">
    
        <form method="post">
            <div class="job-card-details">
                <label>Title:</label>
                <input asp-for="Job.Title" />
                <input type="hidden" asp-for="Job.Id" />
                <label>Company:</label>
                <input asp-for="Job.Company" />

                <label>Applied:</label>
                <input asp-for="Job.CreatedAt" />


                <label>Updated:</label>
                <input asp-for="Job.UpdatedAt" />

                <label>Description:</label>
                <textarea asp-for="Job.Description"></textarea>

                <label>Notes:</label>
                <textarea asp-for="Job.Notes"></textarea>

                <label>Contact:</label>
                <input asp-for="Job.Contact" />


                <label>Status:</label>
                <select asp-for="Job.Status">
                    <option value="Applied">Applied</option>
                    <option value="Interview">Interview</option>
                    <option value="Offer">Offer</option>
                    <option value="Rejected">Rejected</option>
                </select>


                <div class="btn-div">
                    <button type="submit" class="save-btn">Save</button>
                    <button  class="save-btn remove-btn">Remove</button>
                </div>

            </div>
        </form>
    
</section>